body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff;
    /* Blanco para el fondo */
}

header {
    background-color: #004080;
    /* Azul oscuro */
    color: #fff;
    padding: 15px 0;
    margin-bottom: 0px;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {

    padding: 20px;
    /* Azul muy claro (casi blanco) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.logo {
    display: flex;
    align-items: center;
    /* Alinea verticalmente la imagen y el texto */
}

.logo img {
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
    width: 50px;
    /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.language-switch button {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.language-switch button:hover {
    background-color: #f1842a;
    /* Azul claro para el hover */


}

.small-image {
    width: 100px;
    /* Ajusta el ancho según tus necesidades */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

/* HERO*/
/* HERO*/
/* HERO*/

.hero {
    background-image: url(../images/45.jpg);
    background-size: cover;

    background-position: bottom right;

    /* Azul oscuro para el fondo del hero */
    color: #fffbfb;
    text-align: left;
    padding: 100px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content {
    margin-right: 700px;
    padding: 2%;
    padding-right: 10%;
}

.cta-button {
    background-color: #ff7300;
    /* Azul claro para el botón */
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
    margin-top: 20px;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #fff;
    color: #004080;

}

/* ABOUT US*/
/* ABOUT US*/
/* ABOUT US*/


.about-us-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    /* Maximum width for better readability */
    width: 80%;
    /* Flexible width for different screen sizes */
    margin: auto;
    /* Center horizontally */
}

.about-us-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-us-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #333;
}

.about-us-values {
    text-align: left;
    /* Align text to the left for better readability */
}

.about-us-values h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-us-values ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-us-values li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

/* BENEFITS */
/* BENEFITS */
/* BENEFITS */

.benefits {
    background-image: url(../images/BenefitsBG.jpg);
}

.benefits-container,
.qa-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    /* Ancho máximo para mejor legibilidad */
    width: 80%;
    /* Ancho flexible para diferentes tamaños de pantalla */
    margin: 20px auto;
    /* Centra horizontalmente y agrega margen entre secciones */
}

.benefits-container h2,
.qa-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.benefits-description,
.qa-item p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.benefits-list {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    text-align: left;
    /* Alinea la lista a la izquierda */
    margin-left: 20px;
    /* Agrega margen izquierdo para la lista */
}

.benefits-list li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

/* Q&A */
/* Q&A */
/* Q&A */

.qa-item {
    margin-bottom: 20px;
    text-align: left;
    /* Alinea preguntas y respuestas a la izquierda */
}

.qa-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #333;
}

.qa-item p {
    font-size: 16px;
    color: #555;
}

/* CONTACT US */
/* CONTACT US */
/* CONTACT US */

.contact {
    background-image: url(../images/ContactBG.jpg);
}

.contact-form-container {
    background-color: #fff;
    padding: 30px;
    /* Aumenta el padding para más espacio interno */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    /* Aumenta el ancho del formulario */
    text-align: center;
    margin: auto;
    /* Agrega un margen para evitar que toque los bordes en pantallas pequeñas */
}

.contact-form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    /* Tamaño de fuente más grande para el título */
}

.contact-form-group {
    margin-bottom: 20px;
    /* Aumenta el margen inferior entre los campos */
    text-align: left;
}

.contact-form-group label {
    display: block;
    margin-bottom: 8px;
    /* Espaciado más consistente */
    font-weight: bold;
}

.contact-form-input,
.contact-form-textarea {
    width: 100%;
    padding: 10px;
    /* Aumenta el padding para mejorar la usabilidad */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    /* Tamaño de fuente más grande para mejor legibilidad */
}

.contact-form-button {
    background-color: #ff7300;
    color: white;
    padding: 12px 20px;
    /* Aumenta el padding para un botón más grande */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    /* Tamaño de fuente más grande para el botón */
}

.contact-form-button:hover {
    background-color: #ee6b00;
}

/* PLANS */
/* PLANS */
/* PLANS */
#plans {
    padding: 40px 0;
    background-color: #fff;
    /* Fondo negro */
    text-align: center;
    color: #004080;
    /* Texto blanco */
}

#plans h3 {
    margin-bottom: 30px;
    font-size: 1.8em;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.plan {
    background-color: #fff;
    /* Fondo blanco para las tarjetas */
    color: #333;
    /* Color del texto */
    border: 2px solid #ff7300;
    /* Borde naranja */
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.plan:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.plan h4 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.plan p {
    margin: 10px 0;
    font-size: 1.2em;
}

.terms {
    font-size: 0.8em;
    color: #000;
    /* Texto de los términos en blanco */
    margin-top: 20px;
}

/* FEATURES */
/* FEATURES */
.feature {
    background-image: url(../images/FeaturesBG.jpg);
}

#features {
    padding: 60px 0;
    background-color: #f0f8ff;
    /* Azul muy claro para el fondo */
    text-align: center;
}

#features .container {
    text-align: center;
}

#features h3 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #f0f8ff;
    /* Azul oscuro para el título */
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.feature-box {
    background-color: #ffffff;
    border: 2px solid #ff7300;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
}

.feature-box:hover {
    transform: translateY(-5px);
    /* Levanta el cuadro al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-box h4 {
    font-size: 1.5em;
    color: #333;
    /* Azul claro para los títulos de las características */
    margin-bottom: 15px;
}

.feature-box p {
    color: #333;
    font-size: 1em;
    line-height: 1.6;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */


footer {
    background-color: #004080;
    /* Azul oscuro */
    color: #fff;

    text-align: center;
    padding: 1px 0;
    margin-top: 0px;
}

footer p {
    margin: 20px 0;
    text-align: center;


}

footer footer-socials {
    margin: 0;
    text-align: center;
    color: #fff;
    margin-left: 10px;

}

footer .fab {
    color: #fff;
    font-size: large;

}

/* Responsive for Mobile Phones */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo img {
        width: 40px; 
    }

    .hero-content {
        margin-right: 0;
        padding: 10%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .cta-button {
        font-size: 1.2em;
        padding: 10px 20px;
    }

    .about-us-container,
    .benefits-container,
    .qa-container,
    .contact-form-container {
        width: 100%;
        padding: 20px;
    }

    .plans-container {
        flex-direction: column;
        align-items: center;
    }

    .plan {
        width: 80%;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }

    footer {
        padding: 10px 0;
    }
}