body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff;
    /* Blanco para el fondo */
}

header {
    background-color: #004080;
    /* Azul oscuro */
    color: #fff;
    padding: 15px 0;
    margin-bottom: 0px;
}


.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {

    padding: 20px;
    /* Azul muy claro (casi blanco) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.logo {
    display: flex;
    align-items: center;
    /* Alinea verticalmente la imagen y el texto */
}

.logo img {
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
    width: 50px;
    /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.language-switch button {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.language-switch button:hover {
    background-color: #f1842a;
    /* Azul claro para el hover */


}


.small-image {
    width: 100px;
    /* Ajusta el ancho según tus necesidades */
    height: auto;
    /* Mantiene la proporción de la imagen */
}

/* HERO*/
/* HERO*/
/* HERO*/

.hero {
    background-image: url(../images/45.jpg);
    background-size: cover;

    background-position: bottom right;

    /* Azul oscuro para el fondo del hero */
    color: #fffbfb;
    text-align: left;
    padding: 100px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content {
    margin-right: 700px;
    padding: 2%;
    padding-right: 10%;
}

.cta-button {
    background-color: #ff7300;
    /* Azul claro para el botón */
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
    margin-top: 20px;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #fff;
    color: #004080;

}

/* ABOUT US*/
/* ABOUT US*/
/* ABOUT US*/


.about-us-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    /* Maximum width for better readability */
    width: 80%;
    /* Flexible width for different screen sizes */
    margin: auto;
    /* Center horizontally */
}

.about-us-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-us-description {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #333;
}


.about-us-values {
    text-align: left;
    /* Align text to the left for better readability */
}

.about-us-values h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-us-values ul {
    list-style-type: disc;
    margin-left: 20px;
}

.about-us-values li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

/* BENEFITS */
/* BENEFITS */
/* BENEFITS */


.benefits {
    background-image: url(../images/BenefitsBG.jpg);
}

.benefits-container,
.qa-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    /* Ancho máximo para mejor legibilidad */
    width: 80%;
    /* Ancho flexible para diferentes tamaños de pantalla */
    margin: 20px auto;
    /* Centra horizontalmente y agrega margen entre secciones */
}

.benefits-container h2,
.qa-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.benefits-description,
.qa-item p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #333;
}

.benefits-list {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    text-align: left;
    /* Alinea la lista a la izquierda */
    margin-left: 20px;
    /* Agrega margen izquierdo para la lista */
}

.benefits-list li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

/* Q&A */
/* Q&A */
/* Q&A */